/* HEADER STYLING */

header {
    margin: 10px;
}

header h1 {
    text-align: center;
}

main {
    margin: 100px;
}

#timer {
    padding: 20px 40px;
}

#score {
    padding: 20px 40px;
}

#divStartStop {
 
}

#startButton {

}

#stopButton {

}

/* MAIN BODY STYLING */


/* FOOTR STYLING */