/* HEADER STYLING */

header {
    margin: 10px;
}

header h1 {
    text-align: center;
}

main {
    margin: 100px;
}

#timer {
    padding: 20px 55px;
    background-color: rgb(245, 245, 222);
    border: 1px solid black;
}

#score {
    padding: 20px 55px;
    background-color: rgb(245, 245, 222);
    border: 1px solid black;
}

#divStartStop {
    height: 50px;
    margin: 0px 20px;
}

#startButton {
    border: 1px solid darkgreen;
    border-radius: 10px;
    background-color: lightgreen;
    font-weight: bold;
    font-size: 20px;
}

#stopButton {
    border: 1px solid darkred;
    border-radius: 10px;
    background-color: rgb(224, 126, 96);
    font-weight: bold;
    font-size: 20px;
}

.container-fluid {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* MAIN BODY STYLING */

#questionTitle {
    background-color: rgb(245, 245, 222);
    margin: auto 20px;
    border: 1px solid black;
    border-radius: 10px;
    height: 300px;
}

/* FOOTR STYLING */